<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<% @var=ToDoNote.all %>
<% @var.all.group_by(&:user_id).each do |user_id,list| %>
  <%if(user_id == @currentUser)%>
    <h3>Your notes</h3>
    <% list.group_by(&:title).each do |title,notes| %>
      <h4><strong><%=title.upcase%></strong></h4>
      <%notes.each do |notes|%>
        <%= check_box_tag(notes.notes, value = "true", checked = notes.done)%>
        <%=notes.notes%> 
      <% end %>
    <%end%>
  <%else%>
    <h3>Friends notes</h3>
    <% list.group_by(&:title).each do |title,notes| %>
      <h4><strong><%=title.upcase%></strong></h4>
      <%notes.each do |notes|%>
        <%= check_box_tag(notes.notes, value = "true", checked = notes.done)%>
        <%=notes.notes%> 
      <% end %>
    <%end%> 
<%end%>


<%end%>

<br>
<%= link_to 'New note', new_to_do_note_path %>
